exp_name=StateModel
env_name=MountainCar-v0

data_path=D:/Projects/TF2_ML/openai.gym.1610727871.4542089.16268
prior_data_path=D:/Projects/TF2_ML/mcar_human_200_steps_3_actions

max_frames=1000
min_frames=100
max_trials=160
render_mode=False
full_episode=True
buffer_size=1024

a_width=2
n_actions=2
o_size=1
z_size=4

vae_batch_size=128
vae_n_samples=1
vae_learning_rate=0.0001
vae_kl_weight=1.0
vae_kl_regularize_weight=0.001 # to be small, Gaussian ball
vae_num_epoch=100
vae_optimizer=Adam

planner_lookahead=30
planner_plan_depth=3
planner_n_samples=100
planner_rho=0.05
planner_gamma=1.0
planner_full_efe=True