exp_name=StateModel
env_name=MountainCar-v0

data_path=D:/Projects/TF2_ML/data/openai.gym.1610727871.4542089.16268
prior_data_path=D:/Projects/TF2_ML/data/mcar_human_200_steps_3_actions
zoo_data_path=D:/Projects/TF2_ML/data/mcar_zoo_ppo_911episodes
human_data_path=D:/Projects/TF2_ML/data/openai.gym.human3

max_frames=1000
min_frames=100
max_trials=160
render_mode=False
layer_norm=True
is_stateful=False
double_q=True
use_swa=True
buffer_size=1024

a_width=3
n_actions=3
o_size=2
z_size=8
seed=24

vae_batch_size=128
vae_n_samples=5
vae_learning_rate=3e-4
vae_weight_decay=1e-4
vae_kl_weight=1.0
vae_kl_regularize_weight=0.001 # to be small, Gaussian ball
vae_num_epoch=100
vae_optimizer=Adam # Adam, SGD or RMSProp
sample_average=states  # or EFE_values
# test_weight_avg=winPolyak  # ema or winPolyak
vae_dropout_rate=0.0
l2_reg=3e-3

planner_lookahead=30
planner_plan_depth=3
planner_n_samples=100
planner_rho=0.05
planner_gamma=1.0
planner_full_efe=True